.compareCoordinatesListItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.compareCoordinatesListItem:hover {
  background-color: rgba(64, 224, 208, 0.2);
  cursor: pointer;
}

.compareCoordinatesListItem:not(:last-child) {
  border-bottom: 0.5px dashed turquoise;
}

.compareCoordinatesListItem div {
  padding: 0px 20px;
}
