.coordinatesList {
  flex: 0.5 2 auto;

  color: white;
  border: 1px solid turquoise;
  border-radius: 5px;
}

.coordinatesList .helpText {
  font-style: italic;
}

.coordinatesListHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 0.25px solid turquoise;
}

.coordinatesList .actionButtons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.coordinatesList .actionButtons .ccbutton:not(:last-child) {
  margin-right: 6px;
}
