/* .coordinatesListItem {
  display: flex;
  justify-content: flex-end;
  padding: 6px 6px 6px 20px;
} */

.coordinatesListItem {
  /* display: grid;
  grid-template-columns: 40% 150px 60px; */
  padding: 6px 6px 6px 20px;
}

.coordinatesListItem > div:first-child {
  justify-self: flex-start;
  flex: 1 4;
  /* align-self: flex-start; */
  /* background-color: pink; */
}

.coordinatesListItem:hover {
  background-color: rgba(64, 224, 208, 0.2);
  cursor: pointer;
}

.coordinatesListItem:not(:last-child) {
  border-bottom: 0.5px dashed turquoise;
}

/* .coordinatesListItem > div:not(:last-child) {
  padding-right: 20px;
} */

.coordinatesListItem.itemSelected {
  background-color: rgba(64, 224, 208, 0.3);
}

.coordinatesListItem .coordinatesItemAction {
  flex: 0.1 1 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.coordinatesListItem .coordinatesItemAction .ccbutton:not(:last-child) {
  margin-right: 5px;
}
