.coordinatesManager {
  display: flex;
  flex-flow: column;
}

.coordinatesManager > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.coordinatesManager > div > div {
  margin: 0px 0px 10px 10px;
}
