.input {
  border: 0.5px solid white;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0px;
}

.input input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px 5px;
}

.input .inputClearButton {
  font-size: large;
  font-family: monospace;
  color: black;
  min-width: 20px;
  text-align: center;
  border-radius: 1.5px;
  user-select: none;
}
.input .inputClearButton:hover {
  background-color: lightcoral;
  color: white;
  cursor: pointer;
}
.input .inputClearButton:active {
  background-color: hsl(0, 79%, 60%);
  color: white;
}
