body {
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.App > div {
  animation: fadeIn 1s;
}

.App h1,
h2 {
  align-self: center;
  color: darkcyan;
}

nav {
  background-color: white;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav a {
  padding: 10px;
  font-weight: bolder;
  text-decoration: unset;
  color: unset;
}
nav a:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 90%);
}

.container {
  flex: 1 0;
  /* align-self: center; */
  /* justify-self: flex-start; */
  /* display: flex;
  flex-flow: row wrap; */
}
