body {
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.App div {
  animation: fadeIn 1s;
}

.App h1,
h2 {
  align-self: center;
  color: darkcyan;
}

.container {
  align-self: stretch;
  justify-self: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container > div {
  margin: 10px;
}
